<% include ../../partials/header.ejs %>

<h2>Cadastrar alimento</h2>
<form method="post" action="/admin/travels/cadastre">
  <div>
    <p>
      <inputtype="text" name="name">
      <label>Nome</label>
    </p>
    <p>
      <inputtype="text" name="amount">
      <label>Quantidade</label>
    </p>
    <p>
      <inputtype="text" name="protein">
      <label>Proteína</label>
    </p>
    <p>
      <inputtype="text" name="carbohydrate">
      <label>Carboidrato</label>
    </p>
    <p>
      <inputtype="text" name="calorie">
      <label>Calorias</label>
    </p>
    <p>
      <inputtype="text" name="fat">
      <label>Gorduras</label>
    </p>
    <p>
      <inputtype="text" name="sodium">
      <label>Sódio</label>
    </div>
    <p>
      <inputtype="text" name="potassium">
      <label>Potássio</label>
    </p>
    <p>
      <inputtype="text" name="cholesterol">
      <label>Colesterol</label>
    </p>
  </div>
  <p>
    <button type="submit">Cadastrar</button>
  </p>
</form>
<% include ../../partials/footer.ejs %>
