<% include ../../partials/header.ejs %>

<h1>Viagens <a href="/admin/travels/cadastre">Novo Cadastro</a></h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0, len = travels.length; i < len; i++) {%>
    <tr>
      <td><%= travels[i].name %></td>
      <td>
        <span>
          <a href="#">criar</a>
        </span>
        <span>
          <a href="#">remover</a>
        </span>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<% include ../../partials/footer.ejs %>
