<% include ../partials/header.ejs %>

<h2>Cadastro</h2>
<form method="post" action="/admin/register">
  <p>
    <input type="text" name="name">
    <label>Nome</label>
  </div>
  <p>
    <input type="text" name="email">
    <label>E-mail</label>
  </p>
  <p>
    <input type="text" name="username">
    <label>Nome de usuário</label>
  </p>
  <p>
    <input type="text" name="password">
    <label>Senha</label>
  </p>
  <p>
    <button type="submit">Registrar</button>
  </p>
</form>

<% include ../partials/footer.ejs %>
