<% include ../../partials/header.ejs %>

<h1>Usuários</h1>

<ul>
<% for(var i = 0, len = users.length; i < len; i++) {%>
<li>
  <span>
    <span><%= users[i].name %></span>
    <span><%= users[i].email %></span>
  </span>
  <span>
    <a href="/admin/users/<%= users[i]._id %>">editar</a>
  </span>
  <span>
    <a href="/admin/users/<%= users[i]._id %>">remover</a>
  </span>
</li>
<% } %>
</ul>

<% include ../../partials/footer.ejs %>
